
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne"
                   href="#collapseOne" class="collapsed">
                    Tuition
                </a>
            </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">The following information is for the 2016-2017 school year. For LDS students 8.5+ credits is $6,155/semester. For non-LDS students tuition is $12,310/semester (8.5+ credits).
                <hr>
                <button class="btn btn-info btn-sm" data-toggle="collapse" data-target="#faq1">Add your answer</button>
                <div id="faq1" class="collapse">
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="exampleTextarea">Answer Question:</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Put your answer here."></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit Reply</button>
                    </form>
                </div>
            
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo"
                   href="#collapseTwo" class="collapsed">
                    When is the deadline to apply?
                </a>
            </h4>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p>The application deadlines are as follows:</p>
                <ul>
                    <li>Continuing BYU Information Systems students: Last working day of March at 4:30 pm (application opens March 1)</li>
                    <li>Students who have completed a bachelor’s degree (external Applicants): First working day of March at 4:30pm.</li>
                </ul>
                <p>A student may be enrolled in the prerequisite classes at the time of application as long as these classes are completed by the beginning of the entering Fall semester. For external applicants, all prerequisite classes must be completed at the time of application, or documentation must be shown to prove that these classes will be completed by Fall. An already completed bachelor’s degree may be from BYU or another institution.</p>
                <hr>
                <button class="btn btn-info btn-sm" data-toggle="collapse" data-target="#faq2">Add your answer</button>
                <div id="faq2" class="collapse">
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="exampleTextarea">Answer Question:</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Put your answer here."></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit Reply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseThree"
                   href="#collapseThree" class="collapsed">
                    What is the admission criteria for a current BYU Information Systems student?
                </a>
            </h4>

        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Department admission criteria: (Please note that meeting or exceeding admission criteria does not guarantee admission.)</p>
                <ul>
                <li>Completion of IS Junior Core—minimum 3.0 Core GPA; average 3.72</li>
                <li>Submission of Marriott School on-line application (including essay and non-refundable $50 application fee) through the Marriott School Bachelor's / Master's Decision Form. Incomplete applications will not be considered.  Do NOT use the Graduate Studies on-line application.</li>
                </ul>
                <hr>
                <button class="btn btn-info btn-sm" data-toggle="collapse" data-target="#faq3">Add your answer</button>
                <div id="faq3" class="collapse">
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="exampleTextarea">Answer Question:</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Put your answer here."></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit Reply</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="exampleTextarea">Add a question:</label>
                    <textarea style="min-width: 100%" class="form-control" id="exampleTextarea" rows="3" placeholder="Put your question here."></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit Question</button>
            </form>
        </div>



    </div>
</div>
