
<center><h3 style="top:75px;">Select a degree</h3>
    <div class="btn-group" role="group" aria-label="Degree Choice">
        <a href="@Url.Action("Degrees", "Home", new { id = "bsis" })" type="button" class="btn btn-primary">BSIS</a>
        <a href="@Url.Action("Degrees", "Home", new { id = "mism" })" type="button" class="btn btn-primary">MISM</a>
    </div>
    
    </center>