@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <div style="opacity:0.8;background-color:#ffffff;padding:10px;width:400px;" id="openingmsg">
            <h1>BYU Information Systems</h1>
            <p class="lead">The Information Systems major opens the door and prepares you for the future's jobs.</p>
            <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Apply Now &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Faculty Among Top Researchers</h2>
            <p>
                Based on the number of published articles in the six leading journals of 
                the information systems field, the Marriott School Department of Information 
                Systems ranks No. 11 in the world, with 16 published articles in the last three years... 
            </p>
            <p><a class="btn btn-default" href="https://marriottschool.byu.edu/bsis/news/article?id=1160">Read more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Why We Disregard Security Warnings</h2>
            <p>Information systems researchers found nearly 90 percent of people ignore important security messages if they come at the wrong times...</p>
            <p><a class="btn btn-default" href="https://marriottschool.byu.edu/bsis/news/article?id=1164">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Chapter of the Year</h2>
            <p>They’re not just the best in Utah or the best in the West; Brigham Young University’s Association for Information Systems chapter has been recognized as the best in the world. The chapter was recently named the 2014-15 Student Chapter of the Year, the highest honor given to student chapters of the professional organization.</p>
            <p><a class="btn btn-default" href="https://marriottschool.byu.edu/news/article?id=1091">Read more &raquo;</a></p>
        </div>
    </div>
